.Navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 22px;
    background-color:#B5A1FE;
    background-image: url("https://www.transparenttextures.com/patterns/black-linen.png");
    color: #ffffff;
    position:sticky;
    z-index: 2;
    font-family: 'Poppins', sans-serif;
}

ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-right: 40px;
}

.Navigation__Logo{
    color: #ffffff;
    font-weight: bold;
    font-weight: 700;
    cursor: pointer;
}

li{
    list-style-type: none;
    padding: 10px;
}

a{
    color: #ffffff;
    text-decoration: none;
    font-family: 'Ubuntu';
    font-weight: 500;
}

a:hover{
    color: rgb(86, 247, 86) ;
}

.Navigation__button{
    height: 37px;
    width: 70px;
    margin: 0px 2px;
    border: none;
    background-color: #49E4FA;
    color: white;
    cursor: pointer;
}

.Navigation__button:hover{
    background-color: #7b61fc;
}

.Navigation__Content_Mobile{
    display: none;
}

@media screen and (max-width: 768px) {
    .Navigation{
        display: flex;
        flex-direction: row;
        padding-top:1.2em;
        justify-content: space-between;
    }

    .Navigation__Content{
        display: none;
    }

    .Navigation__Content_Mobile{
        display:block;
    }
    
    .Mobilenavigation__Link{
        color: black;
    }

    .Mobilenavigation__button{
        background-color: #7366A1;
        border: none;
        height: 1em;
        width: 1em;
        color: white;
        cursor: pointer;
        font-size: 2px;
    }
    
}